<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>

<% @movies.each do |movie| %>
    <li>
      <%= movie.name %>
    </li>
    <li>
      <%= movie.year %>
    </li>
    <li>
      <%= movie.description %>
    </li>
    <li>
      <img src="<%= movie.image_url %>">
    </li>
    <li>
      <%= movie.is_showing %>
    </li>
  <% end %>
